<div id="index">
    <h1>Welcome to my code snippets webpage!</h1>

    <h3>Here you can save any code snippets that you would like to save.</h3>
    <h3>You can also update, delete and view all snippets that are currently in the database.</h3>
    <h3>However, you need to register an account and login first to be able to create, update or delete code snippets.</h3>
    <h3>If you are not logged in, you can still view all the snippets in the database.</h3>
    <h3>Have fun!</h3>
    
    <img src="../img/snippet1.PNG", alt="Image of a code snippet", width="400px", style="padding-bottom:50px;padding-right:50px">
    <img src="../img/snippet2.PNG", alt="Image of a code snippet", width="600px", style="padding-top:50px">
    <img src="../img/snippet3.PNG", alt="Image of a code snippet", width="450px", style="padding-left:50px;padding-bottom:50px">
</div>