<h1>Login to your account</h1>

{{>flash}}
<div id="login">
  <form method=post>
      <p><input type="text" name="user" placeholder="Username" autofocus="autofocus" required="required"></p>
      <p><input type="password" name="password" placeholder="Password" required="required"></p>
      <p><input type="submit" name="doit" value="Login"></p>
  </form>
</div>