<h1>Create a new Code Snippet</h1>

{{>flash}}
<div id="newForm">
  <form method=post>
      <textarea name="value" placeholder="Enter a snippet of code..." required="required" autofocus="autofocus"></textarea>
      <p><input type="submit" name="doit" value="Save"></p>
  </form>
</div>
