<h1>Register a new account</h1>

{{>flash}}

<div id="login">
  <form method=post>
      <h3>Your password needs to be atleast 6 characters long</h3>
      <p><input type="text" name="user" placeholder="Username" autofocus="autofocus" required="required"></p>
      <p><input type="password" name="password1" placeholder="Password" required="required"></p>
      <p><input type="password" name="password2" placeholder="Repeat password" required="required"></p>
      <p><input type="submit" name="doit" value="Register"></p>
  </form>
</div>